@charset "UTF-8";

.list {
  display: flex;
  justify-content: center;
}


.list--card {
  list-style: none;
  width: 200px;
  margin: 30px;
  outline: 10px solid #655;
  box-shadow: 0 0 0 6px #655;
  border-radius: 13px;
  padding: 10px;
  background: #d2b48c;
}
