@charset "UTF-8";
/* 回答はここから */

.card-parent {
    justify-content: space-around;
    display: flex;
    margin: 60px;
}

.card-parent li {
    outline: 10px solid #655;
    box-shadow: 0 0 0 6px #655;
    border-radius: 12px;
    width: 200px;
    list-style-type: none;
    background: #d2b48c;
    padding: 10px;
}
.card-parent li:nth-child(2) {
    margin-left: 30px;
    margin-right: 30px;
}

